<div class="text-center border pt-4 pb-4 ml-3">
  <%= profile_picture  agent %>
  <h3 class="h4"><%=  agent.full_name %></h3>

  <p><%=  agent.comapny %></p>

  <a class="btn btn-success" href="tel:<%=  agent.telephone %>">Call</a>

  <%= link_to "Profile" ,profile_path( agent.id),class:"btn btn-warning"%>
  
  <%= link_to "Email" ,contact_path( agent.id),class:"btn btn-info"%>
